.Hero{
    background-color: black;
    height: 290px;
  position: relative;;
}
.Hero .btn{
    background-color: rgba(85, 85, 85, 1);
    color: white;
    border-radius: 8px;
    padding: 8px 12px;
}

.card-body .btn{
    background-color: var(--mainColor);
    border-radius: 24px;
    padding: 10px 24px;
}

.Hero .card{
    border-radius: 20px;
   position: absolute;
   top: 60px;
   left: 880px;
    padding: 0px;
}

.Overview .card-body{
    padding: 30px;
    background-color: rgba(245, 245, 245, 1);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: var(--mainColor);
}

 .nav-tabs .nav-link  {
    color: black;
}
.card-body .lessons-btn{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    text-align: start;
}

.dropdown:hover span{
    color: var(--mainColor);
}

.card-body  .Preview-btn{
background-color:rgba(37, 128, 213, 1);
border-radius: 8px;
padding: 4px 12px;

}

/* comments */
.comments input{
   width: 30%;
    border-radius: 8px;
    border:  1px solid rgba(157, 157, 157, 1);
    padding: 10px 16px;
}
.post-btn{
   width: 170px;
   border-radius: 24px;
   padding: 10px 24px;
}
/* comments */