
body {
  height: 1000vh;
}

/* start of header */
.main-font {
  font-family: var(--mainFont);
}

.main-color {
  color: var(--mainColor);
}
.navbar-brand {
  font-weight: 700;
  size: 28px;
}

.nav-item {
  font-family: var(--mainFont);
  font-weight: 600px;
  font-size: 16px;
  font-weight: bolder;
}
.edu-icon {
  width: 20%;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--mainColor);
}

.search-icon {
  border: 2px solid var(--mainColor);
  align-items: center;
  width: 48px;
  height: 48px;
}

/* end of header */

/* start of hero */
.hero {
  background-image: url("./../imges/hero-background.webp");
  position: relative;
  width: 100%;
 
}
.online-school {
  width: 50%;
  position: absolute;
  top: 12%;
  right: 18%;;
  z-index: 0;
}
.student-girl {
  z-index: 1;
  width: 48.5%;
  position: absolute;
  top: 0px;
 right: 10px;
}
.Vector{
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.hero-content{
   position: absolute;
   bottom: 250px;
   left: 100px;
   font-family: var(--mainFont);
}
.hero-content h1{
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 0%;
    line-height: 120%;

}
.hero-content p{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  width: 530px;
}
.hero-content button{
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}

/* end of hero */

/* top categories */
.top-description{
  color: rgba(85, 85, 85, 1);
  font-weight: 400px;

}
.Top-Categories .btn{
border-radius: 24px;
padding: 10px 24px;
  align-self: center;
  border: 2px solid rgba(157, 157, 157, 1);
}
.titel button{
  font-weight: 500;
  font-size: 18px;
  margin-right: 80px;
}
.Top-Categories .row{
  gap: 24px;
}
.Top-Categories .card{
  width: 234px;
  height: 234px;
  border-radius: 20px;
 border: 1px solid rgba(234, 234, 234, 1);
 transition: all .6s;
  
}
.card h2{
  font-size: 20px;
  font-weight: 600;
   font-family: "Exo", sans-serif;
   color: black;
   transition:all .6s;
}
.card p{
  color: rgba(85, 85, 85, 1);
}


.card:hover h2{
  color: var(--mainColor);
}

.card:hover {
  filter: drop-shadow(2px 2px 5px  rgba(0, 0, 0, 0.1));
  transform: translateY(-5px); 
}

/* end of top categories */

/* featured courses */
.featured-courses .card{
  border-radius: 20px;
  height: 474px;
  padding: 0px 0px;
}
.card-img-top{
  width: 400px;
  height: 250px;
  border-top-left-radius:20px;
  border-top-right-radius: 20px;
}
.card-body{
   border-bottom-left-radius:20px;
  border-bottom-right-radius: 20px;
  
}
/* end of feature courses */

/* footer */
footer{
  background-color:rgba(245, 245, 245, 1);
}

footer .edu-icon{
  width:40px;
}
.footer-desription{
  width: 27%;
}
/* end of footer */